$pink: #FF70D9;
$yellow: #EBFF00;
$blue: #304571;
$black: #000000;
$white: #FFFFFF;

.header__logo {
  grid-column-start: 1;
  grid-column-end: 2;
}

.banner {
  background-image: url('./images/EARTH.svg'), url('./images/COSMO_1.svg');
  background-position: right, left top;
  background-repeat: no-repeat, no-repeat;
  height: auto;
  background-size: auto, cover;
  .header {
    background-color: $black;
    color: $white;
    height: 32px;
    display: grid;
    grid-gap: 28px;
    grid-column: auto 1 auto auto auto;
    grid-template-columns: auto 1fr auto auto auto;
    grid-template-rows: 1fr;
    padding: 24px 90px 24px 82px;
    .header__home {
      grid-column-start: 3;
      grid-column-end: 4;
    }
    .header__products {
      grid-column-start: 4;
      grid-column-end: 5;
    }
    .header__basket {
      grid-column-start: 5;
      grid-column-end: 6;
      .header__basket-icon {
        width: 24px;
        height: 24px;
      }
      &:hover .header__basket-icon {
        .basket-icon-path {
          fill: url(#basketGradient);
        }
      }
    }
    a,
    img {
      display: inherit;
    }
    a {
      text-decoration: none;
      color: white;
    }
    a:hover {
        background: linear-gradient(98.25deg, #EBFF00 18.56%, #FF70D9 76.02%);
        -webkit-text-fill-color: transparent; 
        -webkit-background-clip: text; 
        transition: fill 0.3s ease;
    }
  }
  .banner__header {
    width: 693px;
    color: $white;
    text-align: left;
    font-family: "Lato", sans-serif;
    padding: 91px 0px 119px 82px;
    h1 {
      margin: 0;
      font-size: 72px;
      font-weight: 800;
      line-height: 72px;
      width: 740px;
      span {
        color: $pink;
      }
    }
    h3 {
      font-size: 32px;
      font-weight: 800;
      line-height: 38.4px;
      span {
        color: $yellow;
      }
    }
    button {
      width: 191px;
      height: 54px;
      padding: 14px auto;
      gap: 10px;
      border-radius: 100px;
      background-color: $yellow;
      font-size: 22px;
      font-weight: 700;
      line-height: 26.4px;
      border: none;
    }
    button:hover {
        opacity: 60%;
        transition: fill 0.3s ease;
    }
  }
}

.content {
  background-color: $blue;
  padding: 58px 80px;
  display: grid;
  grid-gap: 40px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto auto auto auto;

  .content__title {
    margin: 0;
    display: block;
    grid-row-start: 1;
    grid-row-end: 2;
    font-size: 32px;
    line-height: 38.4px;
    text-align: left;
    color: $white;
  }
  .card__item {
    font-weight: 800;
    height: auto;
    color: $white;
    border-radius: 10px;
    background-size: cover;
    background-repeat: no-repeat;
    h2 {
      font-size: 74px;
      line-height: 74px;
      margin: 0;
    }
    h4 {
      font-size: 26px;
      line-height: 31.2px;
      margin: 22px 0;
    }
    button {
      width: 191px;
      height: 54px;
      padding: 14px auto;
      gap: 10px;
      border-radius: 100px;
      border: 2px solid $yellow;
      background-color: transparent;
      color: $yellow;
      font-size: 22px;
      font-weight: 700;
      line-height: 26.4px;
    }
    button:hover {
        opacity: 60%;
        transition: fill 0.3s ease;
    }
  }
  .card__item--1 {
    background-image: url('./images/COSMO_2.svg');
    padding: 36px 0 36px 36px;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    h2 {
      width: 635px;
    }
  }
  .card__item--2 {
    background-image: url('./images/COSMO_3.svg');
    padding: 49px 0 36px 36px;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 4;
    h2 {
      font-size: 46px;
      line-height: 46px;
    }
    h4 {
      font-size: 24px;
      line-height: 28.8px;
    }
  }
  .card__item--3 {
    background-image: url('./images/COSMO_4.svg');
    padding: 49px 0 36px 36px;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
    h2 {
      font-size: 46px;
      line-height: 46px;
    }
    h4 {
      font-size: 24px;
      line-height: 28.8px;
    }
  }
  .card__item--4 {
    background-image: url('./images/COSMO_5.svg');
    padding: 36px 0 36px 36px;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 4;
    grid-row-end: 5;
    h2 {
      width: 692px;
    }
  }
  .content__description {
    grid-row-start: 5;
    grid-row-end: 6;
    grid-column-start: 1;
    grid-column-end: 3;
    .content__description-title {
      font-size: 32px;
      line-height: 38.4px;
      color: $white;
      margin: 0;
    }
    .content__description-text {
      font-size: 20px;
      font-weight: 700;
      line-height: 24px;
      opacity: 60%;
      color: $white;
      margin: 17px 0;
    }
    .content__description-button {
      font-size: 20px;
      line-height: 24px;
      color: $yellow;
      background: transparent;
      border: none;
      padding: 0;
    }
    .content__description-button:hover {
        opacity: 60%;
        transition: fill 0.3s ease;
    }
  }
}

.footer {
    text-align: center;
    padding-bottom: 19px;
    background-color: $black;
}

@media (width <= 768px) {
  .header__logo {
    width: 72px;
  }
  .banner {
    background-image: url('./images/EARTH_TABLET.svg'), url('./images/COSMO_1.svg');
    background-position: right bottom, left top;
    .header {
      grid-gap: 30px;
      padding: 28px 50px 28px 30px;
    }
    .banner__header {
      width: 411px;
      padding: 100px 0px 100px 30px;
      h1 {
        font-size: 48px;
        line-height: 48px;
      }
      h3 {
        font-size: 22px;
        line-height: 26.4px;
      }
    }
  }
  .content {
    padding: 55px 30px;
    grid-gap: 30px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto auto;

    .content__title {
      font-size: 24px;
      line-height: 28.8px;
    }
    .card__item {
      background-size: cover;
      h2 {
        font-size: 40px;
        line-height: 40px;
      }
      h4 {
        font-size: 16px;
        line-height: 19.2px;
      }
      button {
        width: 161px;
        height: 33px;
        padding: 7px auto;
      }
    }
    .card__item--1 {
      background-image: url('./images/COSMO_2_MOBILE.svg');
      padding: 107px 100px 27px 26px;
      grid-column-start: 1;
      grid-column-end: 2;
      grid-row-start: 2;
      grid-row-end: 3;
      h2 {
        width: 212px;
      }
    }
    .card__item--2 {
      background-image: url('./images/COSMO_3_MOBILE.svg');
      padding: 107px 32px 27px 25px;
      grid-column-start: 2;
      grid-column-end: 3;
      grid-row-start: 2;
      grid-row-end: 3;
    }
    .card__item--3 {
      background-image: url('./images/COSMO_4_MOBILE.svg');
      padding: 106px 30px 28px 26px;
      grid-column-start: 1;
      grid-column-end: 2;
      grid-row-start: 3;
      grid-row-end: 4;
      h2 {
        width: 260px;
      }
      h4 {
        width: 280px;
      }
    }
    .card__item--4 {
      background-image: url('./images/COSMO_5_MOBILE.svg');
      padding: 106px 32px 28px 25px;
      grid-column-start: 2;
      grid-column-end: 3;
      grid-row-start: 3;
      grid-row-end: 4;
      h2 {
        width: 280px;
      }
    }
    .content__description {
      grid-row-start: 4;
      grid-row-end: 5;
      grid-column-start: 1;
      grid-column-end: 3;
      .content__description-title {
        font-size: 24px;
        line-height: 28.8px;
      }
      .content__description-text {
        font-size: 16px;
        line-height: 19.2px;
        margin: 13px 0 20px;
      }
      .content__description-button {
        font-size: 16px;
        line-height: 19.2px;
      }
    }
  }
}

@media (width <= 360px) {
  .banner {
    background-image: url('./images/EARTH_MOBILE.svg'), url('./images/COSMO_1.svg');
    background-position: center top, left top;
    .header {
      height: 38px;
      grid-template-columns: auto 1fr auto;
      padding: 5px 20px 5px 20px;
      .header__logo {
        margin-top: 7px;
      }
      .header__home {
        display: none; // temporary
      }
      .header__products {
        display: none; // temporary
      }
      .header__basket {
        grid-column-start: 3;
        grid-column-end: 4;
        .header__basket-icon {
          width: 30px;
          height: 38px;
        }
      }
    }
    .banner__header {
      width: 292px;
      padding: 250px 0px 42px 34px;
      text-align: center;
      h1 {
        font-size: 36px;
        line-height: 36px;
      }
      h3 {
        font-size: 16px;
        line-height: 19.2px;
      }
      button {
        width: 161px;
        height: 33px;
        margin: auto;
        padding: 7px auto;
        font-size: 16px;
        line-height: 19.2px;
      }
    }
  }

  .content {
    padding: 50px 20px;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto auto auto auto;

    .content__title {
      font-size: 18px;
      line-height: 21.6px;
    }
    .card__item--1 {
      padding: 102px 92px 32px 27px;
      grid-row-start: 2;
      grid-row-end: 3;
      h2 {
        width: 200px;
      }
    }
    .card__item--2 {
      padding: 98px 28px 36px 25px;
      grid-row-start: 3;
      grid-row-end: 4;
      grid-column-start: 1;
      grid-column-end: 2;
      h2 {
        width: 265px;
      }
    }
    .card__item--3 {
      padding: 76px 26px 40px 28px;
      grid-row-start: 4;
      grid-row-end: 5;
      h2 {
        width: 260px;
      }
      h4 {
        width: 265px;
      }
    }
    .card__item--4 {
      padding: 90px 28px 43px 25px;
      grid-row-start: 5;
      grid-row-end: 6;
      grid-column-start: 1;
      grid-column-end: 2;
      h2 {
        width: 265px;
      }
      h4 {
        width: 265px;
      }
    }
    .content__description {
      grid-row-start: 6;
      grid-row-end: 7;
      grid-column-start: 1;
      grid-column-end: 2;
      .content__description-title {
        font-size: 18px;
        line-height: 21.6px;
      }
      .content__description-text {
        font-size: 14px;
        line-height: 16.8px;
        margin: 20px 0;
      }
      .content__description-button {
        font-size: 14px;
        line-height: 16.8px;
      }
    }
  }
}
